body {
  background-image: url('pexels-divinetechygirl-1181396.jpg'); 
  background-size: cover; 
  background-position: center; 
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.titulo{
  text-align: center;
}

.abrir_modal{
  border-radius: 5px;
  background-color: #734b37;
  color: white;
  border-color: black;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.3s ease; /* Transições suaves */
}

.abrir_modal:hover {
  color: white; /* Cor do texto no hover */
  transform: scale(1.05); /* Aumenta ligeiramente o botão */
}




table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #734b37;
}
th {
  background-color: #a68869;
}

/* Estilo padrão para as linhas da tabela */
#listaTarefas tr {
  background-color: #ccbeae; /* Cor padrão das linhas */
}

/* Estilo para tarefas com custo >= 1000 */
#listaTarefas tr.high-cost {
  background-color: yellow !important; /* Força o amarelo para custo alto */
}
 


.actions {
  display: flex;
  gap: 5px;
}
.actions button {
  padding: 5px;
}

/* Estilos do Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #ccbeae;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.modal-content input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
}
.modal-content button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  margin-right: 5px;
}

.btn-icon:hover {
  color: #007bff;
}
